body {
    margin: 0;
    background-color: #d1d1d1;
    font-family: Montserrat, sans-serif;
    /*height: 100vh;*/
}

/* Modal style */

body.modal-open {
    overflow: hidden; /* Optional: hides body scroll bar when modal is open. */
}

.modal {
    z-index: 999999999999 !important;
    opacity: 0; /* Fade in/out animation. */
    transition: opacity 0.5s;
}

.modal-content {
    color: #333;
    background-color: #fff;
    padding: 25px;
}

.modal-dialog {
    overflow: auto;
    max-height: 100vh;
    min-width: 300px;
    max-width: 800px;
}

.modal-header {
    display: flex;
    padding-bottom: 14px;
}

.modal-header > h2 {
    flex: 1;
}

.modal-header .close {
    background-color: #fff;
    font-weight: 100;
    font-size: 2.5rem;
    border: 0;
    border-radius: 999px;
    padding: 0;
    margin: 0;
    line-height: 1rem;
    height: 4rem;
    width: 4rem;
    transition: background-color .5s;
	float: right;
	margin-left: auto;
	cursor: pointer;
}

.modal-header .close:hover {
    background-color: #ccc;
}
