<div class="contactcontainer">
    <h1>Contatti</h1>
    <h2>Ambulatorio a Siracusa, Via Senatore Di Giovanni 27</h2>
    <ul>
        <li>
            <p>tel. 0931 415167</p>
        </li>
    </ul>
    <p>
        <!-- Embedded Open Street Map -->
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=15.288497507572176%2C37.08225239583373%2C15.293754637241365%2C37.08500411307978&amp;layer=mapnik&amp;marker=37.08362826694289%2C15.291126072406769" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=37.08363&amp;mlon=15.29113#map=19/37.08363/15.29113">View Larger Map</a></small>
        </p>
    <h2>Studio a Priolo Gargallo (SR), Via Giulio Verne 11</h2>
    <ul>
        <li>
            <p>tel. 0931 767854</p>
        </li>
        <li>
            <p>cell. 392 4344611</p>
        </li>
        <li>
            <p>cell. 393 9190143</p>
        </li>
    </ul>
    <p>
        <!-- Embedded Open Street Map -->
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=15.186353623867037%2C37.15779201978341%2C15.192549526691439%2C37.1605409925543&amp;layer=mapnik&amp;marker=37.159166518664264%2C15.189451575279236" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=37.15917&amp;mlon=15.18945#map=19/37.15917/15.18945">View Larger Map</a></small>
    </p>
    <p>Email: dentistacarmelomusco@gmail.com</p>
</div>
