.footercontainer {
    background-color: #323232;
    color: white;
    margin: 0;
    padding: 20px;
    min-height: 50px;
}

.footercontainer a {
    color: white;
}

.copyright {
    font-size: 10pt;
}
