<div class="footercontainer">
    <p><a style="color: orange" href="/assets/data/feed.xml">Iscriviti al feed RSS</a></p>
    <div itemscope itemtype="https://schema.org/LocalBusiness">
        <p itemprop="name">Dentista Carmelo Musco</p>
        <p itemprop="description">Specialista in odontoiatria e protesi dentarie, specialista Universitario in implantologia nuove tecnologie</p>
        <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Via Senatore Avvocato Edoardo di Giovanni </span>
            <span itemprop="postOfficeBoxNumber">27</span>,
            <span itemprop="addressLocality">Siracusa</span>,
            <span itemprop="postalCode">96100</span> -
            <span itemprop="addressCountry">Italy</span>
        </p>
        <p>Tel: <span itemprop="telephone">+39 393 9190143</span></p>
        <p>Email: <span itemprop="email">dentistacarmelomusco@gmail.com</span></p>
        <img itemprop="image" src="" style="width:0px; height:0px" />
    </div>
    <hr />
    <div class="otherfooterdata">
        <p class="copyright">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License"
                    style="border-width:0"
                    src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
            </a>
                <span
                    xmlns:dct="http://purl.org/dc/terms/"
                    property="dct:title">
                    Dentista Carmelo Musco
                </span> by <a
                    xmlns:cc="http://creativecommons.org/ns#"
                    href="https://dentistamusco.it"
                    property="cc:attributionName"
                    rel="cc:attributionURL">
                    Carmelo Musco
                </a>
                is licensed under a <a rel="license"
                href="http://creativecommons.org/licenses/by-sa/4.0/">
                Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </p>
        <div class="copyright">
            <p>
                Website created by <a href="https://techpills.technology">Gabriele Musco</a>. For business inquiries write an email to emaildigabry [at] gmail [dot] com.
            </p>

            <p>
                Source available on <a href="https://gitlab.com/gabmus/cornerbusiness">gitlab.com/gabmus/cornerbusiness</a>.
            </p>

            <p>This website is free software: you can redistribute it and/or modify it under
            the terms of the GNU Affero General Public License as published by the Free
            Software Foundation, either version 3 of the License, or (at your option)
            any later version.</p>

            <p>This website is distributed in the hope that it will be useful, but WITHOUT ANY
            WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
            FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
            more details.</p>

            <p><a href="/assets/CODE_LICENSE.txt">
                You should have received a copy of the GNU Affero General Public License
                along with this program.</a>
                If not, see <a href="http://www.gnu.org/licenses/">
                http://www.gnu.org/licenses/</a>.</p>

        </div>
    </div>
</div>
