.videoback {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
}

.videobackcontent {
    display: block;
    color: white;
    padding: 20px;
    margin-top: 200px;
}

.videobackcontent a {
    text-decoration: none;
    color: inherit;
    padding: 15px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(255,255,255,.3);
    transition: background-color .5s;
}

.videobackcontent a:hover {
    background-color: rgba(255,255,255,.7);
}

.videobackcontainer {
    /*position: relative;*/
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.videobackcontent h1 {
    text-shadow: 0px 0px 10px rgba(0,0,0,.7);
    font-size: 2em;
}

.videobackcontent h2 {
    text-shadow: 0px 0px 10px rgba(0,0,0,.7);
    font-size: 1.5em;
}

.videobackcontent h2 i {
    font-size: inherit;
    vertical-align: middle;
}

.videobackcontent h3 {
    text-shadow: 0px 0px 10px rgba(0,0,0,.7);
    font-size: 1.1em;
}

.bottomleft {
   text-align: right;
   position: absolute;
   bottom: 0;
   right: 0;
   font-size: .8em;
   padding: 10px 10px 10px 10px;
   margin: 0;
   background-color: rgba(0,0,0,.4);
}

@media (min-width: 1150px) {
    .videobackcontent h1 {
        font-size: 4em;
    }

    .videobackcontent h2 {
        font-size: 2em;
    }

    .videobackcontent h3 {
        font-size: 1.6em;
    }
}
