<div class="fullarticle">
    <app-articlecard
        title="{{meta.title}}"
        content="{{article}}"
        picture="{{meta.picture}}"
		[preview]="false"
        datetime="{{meta.datetime}}">
    </app-articlecard>
    <div style="tagscard">

    </div>
</div>
