<div 
    (click)="htmlInsideModal.open()"
    class="blockcontainer">
    <div class="blockcontent">
        <div
            class="blockpic"
            [ngStyle]="{'background-image': 'url('+picture+')'}">
        </div>
        <p>{{title}}</p>
    </div>
    <div class="blurredbg"
        [ngStyle]="{'background-image': 'url('+picture+')'}">
    </div>
</div>

<modal #htmlInsideModal>
    <ng-template #modalHeader><h3>{{title}}</h3></ng-template>
    <ng-template #modalBody><markdown [data]="'![]('+picture+')\n'+content"></markdown></ng-template>
</modal>
