.blockpic {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: auto;
    background-position: center;
    background-size: cover;
}

.blockcontainer {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    background-color: rgba(255,255,255, 0);
    transition: background-color 1s, box-shadow 1s;
}

.blockcontainer:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, .7);
    background-color: rgba(255,255,255, .2);
}

.blockcontent {
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
}

.blurredbg {
    opacity: .5;
    background-position: center;
    background-size: cover;
    filter: blur(20px);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    bottom: 50%;
    left: -50%;
    transform: translate(50%, 50%);
    z-index: 0;
}

markdown {
    text-align: justify;
}

/deep/ markdown img { /*  /deep/ is used to style stuff out of the component's scope  */
	max-width: 100%;
	min-width: 100%;
}
