#navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    color: #fff;
    background-color: rgba(70,70,70, .7);
    width: 100%;
}

#navbar ul {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navbar ul li a {
    color: #fff;
    padding: 10px;
    display: block;
    outline: 0;
    text-decoration: none;
    text-align: center;
}

#navbar ul li a:hover {
    outline: 0;
    background-color: rgba(50,50,50, .7);
}

#navbar ul li a .material-icons {
   vertical-align: middle; 
}

#navbar ul li .activated {
    background-color: rgba(0, 168, 255, .7);
    float: left;
}
