<nav id="navbar">
    <ul>
        <li>
            <a routerLink="" [class.activated]="currentUrl == '/'">
                <i class="material-icons">home</i> Home
            </a>
        </li>
        <li>
            <a routerLink="contact" [class.activated]="currentUrl == '/contact'">
                <i class="material-icons">contacts</i> Contatti
            </a>
        </li>
        <li>
            <a routerLink="blog" [class.activated]="currentUrl && currentUrl.slice(0,5) == '/blog'">
                <i class="material-icons">view_day</i> Blog
            </a>
        </li>
        <li>
            <a routerLink="training" [class.activated]="currentUrl == '/training'">
                <i class="material-icons">school</i> Percorso formativo
            </a>
        </li>
    </ul>
</nav>
