<div class="trainingcontainer">
    <h1>Percorso Formativo</h1>
    <markdown>
- LAUREA IN MEDICINA E CHIRURGIA Catania 1985
- SPECIALIZZAZIONE IN ODONTOIATRIA E PROTESI DENTARIE Catania 1988
- Corso base di ortodonzia — Università Federico II Napoli — 2003
- Corso di ortodonzia intercettiva e preventiva con la tecnica Occlus-O-Guide e Nite Guide — Catania 2003
- Certificazione al sistema ortodontico Invisalign — Roma 2003
- Applicazioni odontoiatriche e maxillo facciali della chirurgia piezoelettrica e suo funzionamento — Milano 2005
- La parodontologia nelle sue applicazioni multidisciplinari: dai concetti biologici alle tecniche chirurgiche nella pratica clinica quotidiana — Acitrezza (CT) 2005
- Master Universitario di II livello in implantologia e protesi dentarie: Nuove Tecnologie — Università di Palermo — 2006
- Corso di terapia implantare: chirurgia e protesi su impianti — Catania 2006
- Corso di implantoprotesi con intervento sul paziente — Roma 2006
- I congresso internazionale mini screw — Milano 2006
- Corso teorico pratico sulle tecniche di utilizzo del laser a diodi — istituto stomatologico italiano — Milano 2006
- Certificazione al sistema estetico faccette Lumineers — Roma 2006
- La riabilitazione implanto-protesica nella edentulia totale — Palermo 2008
- Corso di chirurgia avanzata — Sesto Fiorentino (FI) 2008
- Terapia ortodontica trasversa. I mini impianti ortodontici — Palermo 2008
- L'utilizzo della luce laser nel distretto cranio facciale — Università di Genova 2009
- European Forum. Il futuro dell'implantologia orale: short implant e gli ultra short implant. Corso teorico pratico — Università La Sapienza, Roma 2009
- I meeting europeo dell'Academy of laser dentistry Italian study club — Brescia 2009
- Aggiornamento culturale in odontoiatria — Trapani 2010
- Nuova tecnica implantare per impianti post-estrattivi di largo diametro — Pordenone 2010
- Corso teorico pratico di chirurgia implantare avanzata — Roma 2010
- G. B. R. Chirurgia ossea rigenerativa — scuola medica ospedaliera ospedale S. Camillo — Roma 2010
- Ancoraggio scheletrico temporaneo e sistemi digitali 3D in ortodonzia — Catania 2010
- G. B. R. chirurgia ossea rigenerativa — scuola medica ospedaliera ospedale S. Camillo — Roma 2011
- Prevenire e fronteggiare l'emergenza nello studio odontoiatrico — scuola medica ospedaliera ospedale S. Camillo — Roma 2011
- Corso teorico-pratico di emergenze e rianimazione — Siracusa 2011
- Riparazione e rigenerazione intorno a denti naturali ed impianti. Linee guida al trattamento chirurgico e protesico dei tessuti duri e molli per ottenere un'estetica ottimale — Firenze 2011
- Meeting osteology and biomaterials il tessuto osseo dalla rigenerazione ai bifosfonati — Roma 2011
- Applicazione nella pratica quotidiana dei principi e delle procedure dell'evidence based practice — 2013
- Damon System espansione delle arcate dentali e risoluzione dell'affollamento — trattamento delle 2 classi — Catania 2014
- Sistema Damon — una nuova dimensione ortodontica — Roma 2014
- Corso di perfezionamento Damon System — Catania 2014
- Odontoiatria neuromuscolare: indicazioni e applicazioni — Messina Marzo 2015
- Corso base di odontoiatria neuromuscolare: valutazione clinica e strumentale del paziente — Catania 2015
- Corso di Microbotulino: evoluzione della tecnica ed effetti — Bologna 2017
    </markdown>
</div>
