<div class="blockview">
    <ul>
        <li *ngFor="let block of blocksdata$">
            <app-block
                title="{{block.title}}"
                content="{{block.content}}"
                picture="{{block.picture}}">
            </app-block>
        </li>
    </ul>
</div>
