.blockview {
    background-color: #323232;
    width: 100%;
    /*min-height: 100vh;*/
}

.blockview ul li {
    color: white;
}

.blockview ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-areas: "a a a a a a a";
    grid-auto-rows: 170px;
}

@media (max-width: 1500px) {
    .blockview ul {
        grid-template-areas: "a a a a a a";
    }
}

@media (max-width: 1250px) {
    .blockview ul {
        grid-template-areas: "a a a a a";
    }
}

@media (max-width: 1000px) {
    .blockview ul {
        grid-template-areas: "a a a a";
    }
}

@media (max-width: 750px) {
    .blockview ul {
        grid-template-areas: "a a a";
    }
}

@media (max-width: 500px) {
    .blockview ul {
        grid-template-areas: "a a";
    }
}

@media (max-width: 300px) {
    .blockview ul {
        grid-template-areas: "a";
    }
}

