.blogpreviewcontainer {
    text-align: left;
    /*min-height: 70vh;*/
    background-color: #d1d1d1;
    padding: 20px;
}

.blogpreview {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    max-width: 1800px;
    margin: auto;
    grid-template-areas: "a a a a";
    grid-gap: 10px;
}

@media (max-width: 1200px) {
    .blogpreview {
        grid-template-areas: "a a a";
    }
}

@media (max-width: 900px) {
    .blogpreview {
        grid-template-areas: "a a";
    }
}

@media (max-width: 600px) {
    .blogpreview {
        grid-template-areas: "a";
    }
}
