<div class="blogpreviewcontainer">
    <ul class="blogpreview">
        <li *ngFor="let article of blogdata$">
            <app-articlecard
                title="{{article.title}}"
                permalink="{{article.permalink}}"
                content="{{article.content}}"
                picture="{{article.picture}}"
                datetime="{{article.datetime}}">
            </app-articlecard>
        </li>
    </ul>
</div>
