<div class="articlecard">
    <a *ngIf="preview" routerLink="/blog/article/{{permalink}}">
        <img class="articlepic" src="{{picture}}" />
        <div class="articlecardcontent">
            <h1>{{title}}</h1>
            <markdown [data]="content"></markdown>
        </div>
    </a>
    <div *ngIf="!preview">
        <img class="articlepic" src="{{picture}}" />
        <div class="articlecardcontent">
            <h1>{{title}}</h1>
            <markdown [data]="content"></markdown>
        </div>
    </div>

</div>
