.articlecard {
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    transition: background-color .5s, box-shadow .5s;
    height: 100%;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

.articlecardcontent {
    padding: 20px;
}

/deep/ .articlecardcontent img {
    width: 100%;
}

.articlepic {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.articlecard a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.articlecard:hover {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
}
