.blogcontainer {
    padding-top: 70px; /* For the navbar */
    padding-bottom: 70px; /* For the navbar */
    text-align: left;
    background-color: #d1d1d1;
}

.blogcontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "a";
    grid-gap: 35px;
}
