<div class="blogcontainer">
    <ul>
        <li *ngFor="let article of articleslist$">
            <div class="blogarticle">
                <app-articlecard
                    title="{{article.title}}"
                    content="{{article.content}}"
                    picture="{{article.picture}}"
                    datetime="{{article.datetime}}"
                    [preview]="true"
                    permalink="{{article.permalink}}">
                </app-articlecard>
            </div>
        </li>
    </ul>
</div>
